{% load i18n %}{% autoescape off %}

{% trans 'A new user just registered.' %}<br/>
<br/>
<h1>{{ profile.user.username }}</h1>
<br/>
<ul>
    <li>{{ profile.email }}</li>
    <li>{{ profile.first_name }} {{ profile.last_name }}</li>
    <li>{{ profile.bio }}</li>
    <li>{{ profile.phone }}</li>
    <li>{{ profile.birthday }}</li>
    <li>{{ profile.address }} {{ profile.city }} {{ profile.postal_code }}</li>
</ul>

{% endautoescape %}
