{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'To know before registering' %}{% endblock %}

{% block body %}
{{ block.super }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img class="img-responsive" alt="logo_bronycub" src="{% static 'img/title_join_min.png' %}"/>
            <hr />
            <h2 style="color:#772953">Introduction</h2>
            <p>
            Bienvenue !<br />
            Avant de procéder à votre inscription, voici un petit <strong>guide d’accueil</strong> qui vous permettra de tout savoir sur BronyCUB.
            </p>
            <br />
            <h3>L'histoire de BronyCUB</h3>
            <p>
            BronyCUB est un collectif et non une association, afin d'éviter l’aspect administratif n’ayant aucun rapport avec son objectif, mais également pour simplifier l'intégration des membres.
            </p>
            <div>
                Absolument tout le monde est le bienvenu sous 2 conditions :
                <ol>
                    <li>Habiter la Communauté Urbaine de Bordeaux ou au moins y être actif assez souvent.</li>
                    <li>Être un Brony ou au moins en partager les valeurs telles que l’amitié et le respect.</li>
                </ol>
                Si vous n’habitez pas dans le coin, nous vous invitons à rejoindre le <a href="http://carte.leponeyblanc.fr">collectif brony de votre région</a>.
            </div>
            <p>
            BronyCUB a été fondé par <a href="http://heuzef.com">Heuzef</a> en 2013 avec l’espoir de réunir de formidables "geeks" qui souhaitent établir des liens fort entre eux (au delà du simple "pote" très répandu de nos jours) tout en agissant dans l'humanitaire.<br />
            Ce collectif aspire également à travailler directement les complexes présents chez ses membres, comme par exemple la timidité, la solitude ou tout autre facteur générateur de souffrance.
            L’objectif est donc du fun et un maximum de partage de celui-ci pour un accomplissement de soi.
            </p>
            <blockquote class="pull-right">
                <p>... il peut y avoir de la honte à être heureux tout seul.</p>
                <small>Albert Camus</small>
            </blockquote>
            <br /><br />
            <h3>Localisation</h3>
            <p>
            BronyCUB étant un collectif, nous ne disposons pas de locaux. Mais nous avons tout de même un <a href="{% url 'core:hq' %}">"Quartier Général"</a> où nous nous retrouvons régulièrement.
            <br />
            Autrement, il faut se rapprocher des Bronies Bordelais en consultant <a href="{% url 'core:map' %}">la carte des membres</a>.
            </p>
            <br />
            <h3>Actions Humanitaires</h3>
            <a href="http://asbf.fr"><img src="http://wiki.asbf.fr/_media/wiki/badge_acteur_solidaire.png" alt="logo_asbf" width="280px" style="float:left; padding-right:30px;" /></a>
            <p>
            BronyCUB tente de s'investir dans le secteur de l'humanitaire à la manière de <a href="http://broniesforgood.org">Bronies For Good</a>.<br />
            Quelques actions ont déjà été menées malgré les nombreuses difficultés rencontrées, mais nous ne baisserons pas les bras et il ne tient qu'à vous de participer à l'aventure !
            </p>
            <p>
            Depuis 2015, BronyCUB est Acteur Solidaire de l'association <a href="http://asbf.fr">ASBF</a> réunissant solidairement tous les Bronies Francophone.
            Ainsi, notre collectif agit sur Bordeaux au nom de cette association. Cette intégration change radicalement les choses et facilite nos actions humanitaires sur Bordeaux !</p>
            </p>
            <br />
            <h2 style="color:#772953">Présentation du site</h2>
            <h3>L'histoire</h3>
            <p>
            Le site de BronyCUB est chargé d'histoire car il est notre coeur de communication.
            </p>
            <p>
            <strong>2013</strong> : Mise en ligne de la V1 par Heuzef intégrant alors une dizaine de membres.<br />
            <strong>2014</strong> : Mise en ligne de la V2 réalisée solidairement par l'ensemble des membres, cette version remplace alors la V1 mise en place "à l’arrache" par Heuzef en 2013 et ayant très vite montré ses limites face à l’évolution du collectif.<br />
            <strong>2015</strong> : Lancement du projet <a href="http://sugarcub.org">SugarCUB</a> ! Outil libre permettant de disposer d'un puissant site web configurable pour tous les collectifs Brony de France.<br />
            <strong>2016</strong> : Déploiement de <a href="http://sugarcub.org">SugarCUB</a> en version 1.0 pour Bordeaux.
            </p>
            <p>
            <a href="http://sugarcub.org">SugarCUB</a> à pour vocation d'être maintenu et traduit pour l'international.<br />
            Nous prévoyons toujours d'y integrer le projet BBBFF (BronyCUB Big Browser File Factory), un serveur privé d'échange de médias.
            </p>
            <br />
            <h3>Les Outils</h3>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#mailinglist" data-toggle="tab" aria-expanded="true">Mailing List</a></li>
                <li class=""><a href="#ticket" data-toggle="tab" aria-expanded="false">Ticket</a></li>
                <li class=""><a href="#irc" data-toggle="tab" aria-expanded="false">Tchat IRC</a></li>
                <li class=""><a href="#visio" data-toggle="tab" aria-expanded="false">Visio</a></li>
                <li class=""><a href="#agenda" data-toggle="tab" aria-expanded="false">Agenda</a></li>
                <li class=""><a href="#carte" data-toggle="tab" aria-expanded="false">Carte</a></li>
                <li class=""><a href="#mc" data-toggle="tab" aria-expanded="false">Minecraft</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="mailinglist">
                    <p>
                    La ML (mailing list ou liste de diffusion en Français) <span class="label label-info">{{ mailing_list }}</span> à laquelle vous serez bientôt ajouté permet de communiquer les informations importantes lié à la vie du collectif. C'est notre 1er moyen de communication !
                    </p>
                    <p>
                    Elle permet de s’organiser et de se tenir au courant de tous les évènements faits par le collectif et surtout de contacter le collectif directement dans son intégralité.<br />
                    Nous somme présents sur les réseaux sociaux et ils nous aident mais ne répondent pas autant à notre besoin de neutralité, en effet, tout le monde dispose d’une adresse e-mail, mais n'est pas forcément fan de Facebook et autre Twitter.
                    </p>
                    <p>
                    Il est important de mettre en place un filtre dans votre boite e-mail avec le mot clef <em>[BronyCUB]</em> pour gérer efficacement le flux de messages (environ un millier par an).<br />
                    Si vous ne savez pas comment créer un filtre, voici un <a href="https://www.youtube.com/watch?v=bTiDLK9naPQ">exemple avec Gmail</a> mais <strong>n'hésitez surtout pas à demander de l'aide !</strong>
                    </p>
                </div>
                <div class="tab-pane fade" id="ticket">
                    <p>
                    Les tickets servent de lien entre l'équipe de gestion et les membres de BronyCUB, ils permettent de lister toutes les demandes, problèmes et souhaits du collectif.
                    </p>
                    <p>
                    Donc pour toute demande concernant le collectif, <a href="https://bronycub.freshdesk.com/support/tickets/new">ouvrez un ticket</a> ! Des responsables vous répondront le plus rapidement possible pour vous aider !
                    </p>
                </div>
                <div class="tab-pane fade" id="irc">
                    <p>
                    C’est un salon de conversation. Ce Tchat permet aux membres de BronyCUB ou autre de venir discuter de manière pratique et simple (c’est mieux que les mails pour la discussion rapide).
                    </p>
                    <p>
                    Berry-Punch, notre mascotte, est là pour modérer le salon et nous y sommes présents pour répondre à toutes vos questions !
                    <a href="https://kiwiirc.com/client?settings=3ebf3eb7a40c2b03f47b918eb2f7087a">Cliquez ici pour rejoindre #bronycub sur irc.freenode.net.</a>
                    </p>
                    <div class="alert alert-dismissible alert-info">
                        <p>
                        Si vous souhaitez discuter d'informatique, nous avons un second salon de conversation. Il suffit de taper /join #bronycub-g33k pour le rejoindre (ou de cliquer <a href="http://kiwiirc.com/client/chat.freenode.net/bronycub-g33k/">ici</a>).
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="visio">
                    <p>
                    Si besoin, vous avez à votre disposition un outil de visio très simple à exploiter pour discuter à plusieurs. Il suffit de se rendre sur <a href="https://vroom.im/bronycub">vroom.in/bronycub</a>
                    </p>
                    <div class="alert alert-dismissible alert-success">
                        <strong>Astuce :</strong> le lien <a href="https://vroom.im/bronycub?video=false">vroom.im/bronycub<strong>?video=false</strong></a> désactivera automatiquement votre webcam !
                    </div>
                </div>
                <div class="tab-pane fade" id="agenda">
                    <p>
                    L’Agenda vous renseigne des futurs événements importants du collectif, il peut être synchronisé avec votre agenda Google, smartphone, etc…
                    </p>
                    <p>
                    Si vous souhaitez organiser vous-même quelque chose, il vous suffira alors de cliquer sur <a href="{% url 'agenda:list' %}">organiser un événement</a> et de vous laisser guider !
                    </p>
                    <div class="alert alert-dismissible alert-warning">
                        <strong>Important :</strong> Nous vous encourageons vivement à <strong>vous lancer</strong> pour organiser votre meet-up, atelier, projet, action humanitaire, …<br />
                        C'est ce qui fait vivre le collectif et le rend aussi magique !<br />
                        Vous ne vous en sentez pas capable ? C'est donc l'occasion parfaite de gagner confiance en vous, vous aurez beaucoup de soutien ici.
                    </div>
                </div>
                <div class="tab-pane fade" id="carte">
                    <p>
                    La carte des membres vous permet simplement d’avoir une vision géographique des Bronies de la CUB et ainsi vous appercevoir que votre voisin est un Brony ;)
                    </p>
                    <p>
                    Nos amis du site d’information <a href="http://leponeyblanc.fr">Le Poney Blanc</a>, disposent également d’une carte similaire, à l'échelle de la France entière : <a href="http://carte.leponeyblanc.fr">carte.leponeyblanc.fr</a>
                    </p>
                </div>
                <div class="tab-pane fade" id="mc">
                    <p>
                    Le petit jeu de Lego dématérialisé n'a pas échappé à la vague de petits poneys tout roses ! Et c'est pour cela que notre collectif possède son propre serveur Minecraft !
                    </p>
                    <p>
                    Pour pouvoir jouer, il faut faire une demande à Électron ( <em><a href="mailto:support@art-software.fr">support@art-software.fr</a></em> ) qui vous expliquera le fonctionnement du serveur MC et Mumble.
                    <p>
                </div>
            </div>
            <br />
            <h2 style="color:#772953">Membres du collectif</h2>
            <p>
            Nous sommes nombreux, chaque personne dispose de sa propre petite <a href="{% url 'users:members' %}">fiche de présentation</a>  que nous vous invitons à découvrir. Chacune de ces personnes souhaite vous connaître et partager ses passions avec vous, alors n’hésitez pas à les contacter, c’est comme ça que naissent de belles amitiés ;)
            </p>
            Voici quelques membres en vrac :
            <ul>
                <li>Heuzef : Fondateur de BronyCUB.</li>
                <li>Gordfang : Aide précieuse dans la gestion du collectif.</li>
                <li>SebWhooves : Référent des 23h de la BD et pâtissier du collectif.</li>
                <li>Électron : Gestion du tchat IRC et du serveur Minecraft/Mumble.</li>
                <li>Wildfier : Développeur de SugarCUB, rien que ça !</li>
                <li>Shinsaber : Notre généreux super admin sys.</li>
                <li>Fidzu : Notre chinois-portugais.</li>
                <li>TrappyTickles : Référents du BBBFF qui se la pète avec son tatoo !</li>
                <li>Panda : Community Manager du collectif en voie d’extinction.</li>
                <li>Aragox : Maître des Jeux de Sociétés.</li>
                <li>Elvon : Organisateur de la mort qui tue des voyages en convention.</li>
                <li>Macharon : Trolleur professionnel.</li>
                <li>ChordsTackler : The king of Pique-Nique !</li>
                <li>Ludvann : Chevalier digital !</li>
                <li><a href="{% url 'users:members' %}">Et tellement d'autre ...</a> tous aussi fantastiques qu'ils sont !</li>
            </ul>
            <br/>
            <h2 style="color:#772953">Nos Amis</h2>
            <p>
            Au fil du temps, BronyCUB a vécu de sacrées histoires et rencontré pas mal de monde, nous liant d’amitié avec des gens extraordinaires.<br />
            Chaque entité présente sur notre <a href="{% url 'core:friends' %}">page d’amis</a> mérite votre attention car nous sommes directement liés à eux.
            </p>
            <br/>
            <h2 style="color:#772953">Votre Inscription</h2>
            <p>
            C’est donc le grand moment pour vous de rejoindre le troupeau Bordelais !<br /><br />
            Le <strong>formulaire d’inscription</strong> qui va suivre est là pour nous aider dans la gestion du collectif, il est primordial de le remplir avec soin.<br />
            Les informations jugées "sensibles" (comme votre n° de tel par exemple) ne sont diffusées qu’en interne et cela facilite énormément les choses pour la suite.<br />
            N’étant pas une asso, rejoindre le collectif est gratuit et une simple demande de désinscription par ticket suffira si vous déménagez loin, par exemple.
            </p>
            <p>
            Le formulaire d’inscription vous demandera des <strong>informations classiques</strong> (nom, prénom, pseudo, …).<br />
            Des <strong>informations de contact</strong> comme votre téléphone, très pratique pour l’organisation et votre adresse e-mail, qui sera inscrite à cette fameuse ML de BronyCUB.<br />
            Votre <strong>adresse postale</strong>, pour nous permettre de vous situer géographiquement par rapport aux autres et également nous assurer que vous être actif dans la région.<br />
            Et votre <strong>date de naissance</strong>, pour connaître votre âge mais surtout votre anniversaire ! :D
            </p>
            <p>
            Pour finir, votre <strong>bio de présentation</strong>. Il est important d’y mettre au moins un paragraphe pour vous présenter aux autres.<br />
            Soyez bavard, inspirez vous des autres présentations si besoin ;)<br />
            Soyez original, parlez de vos passions, de la manière dont vous avez connu BronyCUB et de l'expérience que vous en attendez.
            </p>
            <p>
            Enfin, complétez avec <strong>vos liens</strong> (blog, facebook, skype, steam, …) si vous souhaitez les partager avec tout le monde.
            </p>
            <p>
            Une fois fait, cela va créer un ticket et nous <strong>reviendrons vers vous par e-mail</strong> pour finaliser votre inscription, c’est à ce moment-là qu’il faudra poser toutes vos questions !<br />
            Bien sûr, n'hésitez pas à vous ré-inscrire autant de fois que nécessaire pour mettre à jour vos infos <strong>;)</strong> A très vite <strong>/)</strong>
            </p>
            <br />
            <p>
            <a href="{% url 'users:registration_register' %}" class="btn btn-info btn-lg"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Formulaire d'inscription</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
