{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Account created' %}{% endblock %}

{% block body %}
    {{ block.super }}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="alert alert-dismissable alert-success"><button type="button" class="close" data-dismiss="alert">×</button>
                    <h3>{% trans 'You signed up successfully ! A mail to activate your account has been sent, Welcome !' %}</h3>
                </div>
                <iframe width="853" height="480" src="//www.youtube.com/embed/KgOAo_u187A?autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

{% endblock %}

